<div class="container-fluid d-flex justify-content-center bg-dark mb-5">
  <h1 class="text-white p-2">Таблица</h1>
</div>

<div class="container">

  <div class="row mb-3">

    <div class="col d-flex justify-content-start">
      <button class="btn btn-info" [routerLink]="['']">Загрузить</button>
    </div>

    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" [routerLink]="['/unload']">Выгрузить</button>
    </div>

  </div>

  <table class="table table-bordered table-hover">

    <thead class="thead-light">
      <tr>
        <th *ngIf="jsonFile.length !== 1">#</th>
        <th *ngFor="let key of jsonFile[0] | keyvalue">
          {{key.key}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let obj of jsonFile; let i = index"
      >
        <th *ngIf="jsonFile.length !== 1">

          <button
            *ngIf="i !== 0"
            (click)="toLift(i)"
            class="btn btn-sm btn-light"
            >🡅</button>
          <button
            *ngIf="i !== jsonFile.length - 1"
            (click)="toLower(i)"
            class="btn btn-sm btn-light"
          >🡇</button>
        </th>
        <th
          [routerLink]="['/edit', i]"
          *ngFor="let key of obj | keyvalue"
        >
          {{key.value}}
        </th>
      </tr>
    </tbody>

  </table>

</div>
