<div class="container-fluid d-flex justify-content-center bg-dark mb-5">
      <h1 class="text-white p-2">Страница загрузки</h1>
</div>

<div class="container d-flex flex-column form-group">

  <div class="d-flex justify-content-between align-items-center">

    <h2 class="d-block">Введите или загрузите данные:</h2>

    <label class="btn btn-primary" for="file">Загрузить файл</label>
    <input (change)="onLoadFile($event)" class="d-none" id="file" type="file">

  </div>

  <textarea
    [(ngModel)]="data"
    [class.is-invalid]="error !== ''"
    [placeholder]="
        format === 'json'? '[{k1:v1, k2:v1},{k1:v1, k2:v1}]':
        'heading1,heading2,heading3\n'+
        'value1_1,value2_1,value3_1\n'+
        'value1_2,value2_2,value3_2'
      "
    class="form-control mt-2 mb-3"
    rows="10"
  ></textarea>

  <div class="d-flex justify-content-between">

    <span class="d-flex justify-content-center align-items-center text-danger">{{error}}</span>

    <div class="d-flex">

      <div class="form-check form-check-inline">
        <input
          (change)="format = 'json'"
          [checked]="format === 'json'"
          class="form-check-input"
          id="json"
          name="format"
          type="radio"
          value="json">
        <label for="json">json</label>
      </div>

      <div class="form-check form-check-inline">
        <input
          (change)="format = 'csv'"
          [checked]="format == 'csv'"
          class="form-check-input"
          id="csv"
          name="format"
          type="radio"
          value="csv"
        >
        <label for="csv">csv</label>
      </div>

      <button (click)="onContinue()" class="btn btn-success">Продолжить</button>

    </div>

  </div>

</div>
