<div class="container-fluid d-flex justify-content-center bg-dark mb-5">
  <h1 class="text-white p-2">Страница разгрузки</h1>
</div>

<div class="container d-flex flex-column form-group">

  <div class="d-flex justify-content-between flex-wrap align-items-center">
    <h2>Выгрузить данные</h2>
  </div>

  <textarea
    [(ngModel)]="data"
    class="form-control"
    rows="10"
  ></textarea>

  <div class="d-flex mt-2 justify-content-between">

    <span class="d-flex justify-content-center align-items-center text-danger">{{error}}</span>

    <div class="d-flex">

      <div class="form-check form-check-inline">
        <input
          (change)="toJson()"
          class="form-check-input"
          id="json"
          name="format"
          type="radio"
          value="json"
          checked
        >
        <label class="form-check-label" for="json">json</label>
      </div>

      <div class="form-check form-check-inline">
        <input
          (change)="toCsv()"
          class="form-check-input"
          id="csv"
          name="format"
          type="radio"
          value="csv"
        >
        <label class="form-check-label" for="csv">csv</label>
      </div>

      <a
        [href]="url"
        (click)="onDownload()"
        [download]="format === 'json' ? 'data.json': 'data.csv'"
        class="btn btn-primary"
      >Выгрузить в файл</a>

    </div>



  </div>
  <div class="mt-2">
    <button class="btn btn-block btn-info" [routerLink]="['/table']">Вернуться к таблице</button>
  </div>


</div>
