a {
  text-decoration: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

tbody tr {
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.header {
  background-color: #FF6900;
  margin-bottom: 50px;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  color: #fff;
}


